.autoscroll
  %table.list
    %thead
      %tr
        %th=l(:field_author)
        %th=l(:field_assigned_to)
        %th=l(:label_rating)
        = sort_header_tag('start_date', :caption => l(:field_start_date))
        = sort_header_tag('due_date', :caption => l(:field_due_date))
        %th=l(:label_issue)
        %th=l(:label_project)
        = sort_header_tag('updated_on', :caption => l(:field_updated_on), :default_order => 'desc')
    %tbody
      - for object in collection
        %tr{:class => "issue "+cycle("odd", "even")}
          %td.user= link_to_user(object.author)
          %td.user= link_to_user(object.assigned_to)
          %td= link_to object.rating.name, :action => :show, :id => object.rating_id
          %td{:align=>"center"}= format_date(object.start_date)
          %td{:align=>"center"}= format_date(object.due_date)
          %td= link_to_issue(object)
          %td= link_to_project(object.project)
          %td{:align=>"center"}= format_date(object.updated_on)
